#container{
       display:flex;
       justify-content:center;
}
#a{
       font-size:30px;
       text-shadow: 3px 3px aqua;
}
#d{
       background-color:rgb(241, 241, 28);
       text-align:center;
       width:650px;
       margin-top:120px;
       height:480px;
}
.input {
         width:180px;
         height:30px;
         border-radius: 10px;
         outline:none;
         border:2px solid aqua;
         margin-top:20px;
         text-align:center;
}
.input:focus{
         width:200px;
         background-color: rgb(248, 136, 248);
}
.h{
         padding-top:10px;
         color:rgb(230, 134, 230);
}
#btn{
         width:140px;
         height:40px;
         margin-top:20px;
         border-radius:10px;
         font-size:20px;
         border:none;
         color:white;
         background-image: linear-gradient(to top left,rgb(108, 231, 231),aqua,rgb(129, 248, 238),aqua);
}
